#home{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.home-container{
    margin-top: 2%;
border-radius: 22px;}
.play-button:hover,
.login-button:hover, 
.register-button:hover{
    text-decoration: none;
    transform: translateY(2px);
}