.instruction{
    font-size: 30px;
}
.instruction::before{
    content: ('>');
}

.quiz-container{
   background-color: rgba($color: white, $alpha: 0.6);
   margin-top: 0;

}
.instruction-detail{
    border-left: 1px solid rgba(2, 179, 233, 0.774);
}
.correct-icon{
    font-size: 30px;
    color:green;
    background-color:white;
    cursor: pointer;
}
.wrong-icon{
    font-size: 30px;
    color:red;
    background-color:white;
    cursor: pointer;
}